# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# C extensions
*.so

# Virtual environment
env/
venv/
ENV/
.VENV/

# Django stuff:
*.log
*.pot
*.pyc
*.pyo
*.sqlite3
db.sqlite3

# Local settings
local_settings.py

# Media files
media/

# Static files
staticfiles/
static/

# Ignore migrations (optional, if you don't want to track migrations)
**/migrations/*.py
!**/migrations/__init__.py

# VS Code files
.vscode/

# PyCharm
.idea/

# macOS files
.DS_Store

# Linux
*.swp
*.swo

# Windows
Thumbs.db
Desktop.ini

# Environment variables
.env

# pipenv
Pipfile
Pipfile.lock

# Poetry
poetry.lock
pyproject.toml

# Coverage reports
htmlcov/
*.cover
.coverage
.coverage.*
.cache
.nosetests.xml
coverage.xml
*.coveragerc

# MyPy
.mypy_cache/
.dmypy.json
dmypy.json

# Pytest
.pytest_cache/
.tox/

# Jupyter Notebook checkpoints
.ipynb_checkpoints

# celery beat schedule file
celerybeat-schedule
